@model Cerveja.Models.ViewModels.VendedorFormViewModel

@{
    ViewData["Title"] = "Criar Novo";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"> <!--Método POST-->
            <div class="form-text">
                <label asp-for="Vendedor.Nome" class="form-label"></label>
                <input asp-for="Vendedor.Nome" class="form-text" />
            </div>
            <div class="form-text">
                <label asp-for="Vendedor.DataNascimento" class="form-label"></label>
                <input asp-for="Vendedor.DataNascimento" class="form-text" />
            </div>
            <div class="form-text">
                <label asp-for="Vendedor.Salario" class="form-label"></label>
                <input asp-for="Vendedor.Salario" class="form-text" />
            </div>
            <div class="form-text">
                <label asp-for="Vendedor.Departamento.Id" class="form-label"></label>
                <select asp-for="Vendedor.Departamento.Id" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-text"></select>
            </div>


            <!-- Botões -->
            <div class="form-text">
                <input type="submit" value="Criar" class="btn-success" />
            </div>
        </form>
    </div>
</div>