@model Cerveja.Models.ViewModels.VendedorFormViewModel

@{
    ViewData["Entidade"] = "Vendedor";
    ViewData["Title"] = "Editar";
}
<h1>@ViewData["Entidade"]</h1>
<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vendedor.Id" />
            <div class="form-group">
                <label asp-for="Vendedor.Nome" class="control-label"></label>
                <input asp-for="Vendedor.Nome" class="form-control" />
                <span asp-validation-for="Vendedor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.DataNascimento" class="control-label"></label>
                <input asp-for="Vendedor.DataNascimento" class="form-control" />
                <span asp-validation-for="Vendedor.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Salario" class="control-label"></label>
                <input asp-for="Vendedor.Salario" class="form-control" />
                <span asp-validation-for="Vendedor.Salario" class="text-danger"></span>
            </div>

            <!-- Departamentos -->
            <div class="form-group">
                <label class="control-label">Departamento</label>
                <select asp-for="Vendedor.Departamento.Id" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-select"></select>
            </div>

            <!-- Botões -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
