@model Cerveja.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-secondary">Ocorreu um erro na sua requisição!</h2>
<h2 class="text-secondary">Mensagem: <label class="text-warning">@Model.Message</label></h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
