@model Cerveja.Models.ViewModels.PedidoFormViewModel

@{
    ViewData["Entidade"] = "Pedido";
    ViewData["Title"] = "Criar Novo";
}
<h1>@ViewData["Entidade"]</h1>
<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"> <!--Método POST-->


            <div class="form-group">
                <label asp-for="Pedido.Valor" class="control-label"></label>
                <input asp-for="Pedido.Valor" class="form-control" />
            </div>

            <!-- Botões -->
            <div class="form-text">
                <input type="submit" value="Criar" class="btn btn-primary" /> |
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>